	*{
		list-style: none;
		font-family: 'Raleway', sans-serif;
		line-height: 1;
	}
	ul {
		padding-left: 0px;
		display: flex;
	}

	/* header */
	h1 {
		margin-top: 40px;
		margin-bottom: 0px;
	}
	h5 {
		margin-top: 15px;
		margin-bottom: 0px;
	}

	.sous_h1 {
		margin-top: 10px;
		margin-bottom: 0px;
	}




	/* Menu */



	#menu {
		display: flex;
		float: right;
		margin-top: -48px;
	}
	.menu3 {
		float: right;
	}
	.menu1, .menu2, .menu3 {
		text-decoration: none;
		padding: 20px;
		border-top: 2px transparent solid;
	}
	.menu3 {
		color: #0065FC;
		font-weight: bold;
	}

	.menu1:hover, .menu2:hover, .menu3:hover {
		cursor: pointer;
	}
	.menu1:hover, .menu2:hover {
		border-top: solid #0065FC 2px;
		color: #0065FC;
	}
	.menu3:hover {
		text-decoration: underline;
	}

	/* Rechercher */
	.search {
		display: flex;
		align-items: center;
	}
	.fa-map-marker-alt, .search_bar, .search_bar_text {
		display: flex;
	}

	.fa-map-marker-alt {
		padding: 10px;
		border: solid transparent;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background-color: #F2F2F2;
		color: black !important;
	}

	.search_bar {
		padding: 10px;
	}

	.search_bar_text {
		border: solid transparent ;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		color: white;
		background-color: #0065FC;
		padding: 10px;
		margin-left: -16px;

	}

	/* Infos */

	.info {
		padding-bottom: 16px;
	}




	/* Les filtres */ 


	.filtres { 
		display: flex;
		align-items: center;
	}

	.bouton {
		border-radius: 50px;
		border: 2px solid #D9D9D9;
		height: 40px;
		display: flex;
		justify-content: center;
		margin-left: 20px;
		align-items: center;
	}
	.bouton:hover {
		background-color: #DEEBFF;
		cursor: pointer;
	}
	.bouton:focus {
		background-color: #DEEBFF;
	}
	.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
		background-color: #DEEBFF;
		border-radius: 100%;
		border: 1px solid #DEEBFF;
		padding: 10px;
		margin-right: 5px;
	}

	.text_bouton {
		margin-right: 10px;
		font-weight: bold;
	}




	/* Centre */


	.center,.populaires,.footer,.aside {
		background-color: #F2F2F2;
	}

	.center_populaires {
		display: flex;

	}
	.center {
		width: 60%;
		border-radius: 20px;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 2%;
		
	}
	.contenant {
		display: flex;
		flex-direction: row;
		height: 600px;
		justify-content: space-around;
		flex-wrap: wrap;
		
	}

	.img_marseille {
		height: 60%;
		width: 96%;
		object-fit: cover;
		margin-left: 2%;
		margin-top: 2%;
		border-radius: 10px 10px 0 0;
	}
	.cannebiere1, .cannebiere2, .cannebiere3, .cannebiere4, .cannebiere5, .cannebiere6 {
		border-radius: 10px;
		height: 40%;
		width: 30%;
		background-color: #FFFFFF;
		box-shadow: 0px 2px 8px 0px;
	}
	.fa-star, .titre_image, .soustitre_image {
		margin-left: 15px;
		line-height: 0.5 !important;
	}

	h5 {
		font-size: 1em;
	}

	.titre_marseille {
		margin-left: 7%;
	}
	.titre_populaires {
		margin-left: 8%;
	}

	.afficher_plus {

		
	}
	.titre_marseille {
		
	}


	/* -------------------------------------- */

	.titrelogo_populaires {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.fa-chart-line {
		margin-right: 5%;
		color: black !important;
	}



	.aside {
		border-radius: 20px;		
		width: 40%;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 2%;
	}
	.populaires {		
		height: 600px;
		display: flex;
		flex-direction: column;
		margin-top: 0;
		margin-bottom: 0;
		justify-content: space-around;
		align-items: center;
		margin-top: 16px;
		border-radius: 20px;
	}

	.populaire1, .populaire2, .populaire3 {
		border-radius: 10px;
		background-color: #FFFFFF;
		box-shadow: 0px 2px 8px 0px;
		height: 30%;
		width: 88%;
		display: flex;
		flex-direction: row;
	}

	.img_populaires {
		height: 94%;
		width: 30%;
		object-fit: cover;
		border-radius: 10px 0px 0px 10px;
		margin-top: 1%;
		margin-left: 1%;
	}

	.titrelogo_populaires {
		margin-bottom: 0px;
		margin-top: 40px;


	}

	.texte_populaire { 
		display: flex;
		flex-direction: column;
		margin-left: 5%;
		height: 90%;
		justify-content: space-around;
		width: 50%;
	}

	.populaire_star {
		margin-top: 50px;

	}



	.afficher_plus {
		margin-top: -50px;
		margin-left: 2%;

	}

	/* font awesome info */

	.fas {
		color:#0065FC;
	}

	.fa-star {
		color: #0065FC;
	}
	.center .fa-star:nth-child(5n-1) {
		margin-left: 15px;
	}


	.fa-star--true, .fa-star--false {
		margin-left: 0px;
	}
	.fa-star--true {
		color: #0065FC;
	}
	.fa-star--false {
		color: grey;
	}

	.fa-search {
		display: none;
	}





	/* Activités */

	.titre_article {
		margin-left: 2%;
	}
	.titre_activites {
		margin-left: 5%;
		font-size: 1.1em;
	}
	.activites {
		height: 580px;
		width: 100%;
	}
	.bloc_activites {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-height: 544px;
		margin-left: 2%;
		border: solid red;
	}

	.img_activites1, .img_activites2, .img_activites3, .img_activites4, .img_activites5, .img_activites6 {
		object-fit: cover;	
		width: 100%;
		border-radius: 10px 10px 0px 0px;
	}

	.img_activites1, .img_activites4 {
		height: 430px;		
	}

	.img_activites2 {
		height: 180px;
	}
	.img_activites3 {
		height: 140px;
	}
	.img_activites5, .img_activites6 {
		height: 150px;
	}

	.activites1, .activites2, .activites3, .activites4, .activites5, .activites6 {
		border-radius: 10px;
		width: 20%;
		background-color: #FFFFFF;
		box-shadow: 0px 2px 8px 0px;
	}

	.activites1, .activites4 {
		display: flex;
		flex-flow: column wrap;
	}
	.activites2 {	
		display: flex;
		flex-flow: column wrap;
		margin-bottom: 82px;
	}
	.activites5 {
		margin-bottom: 60px;
	}
	.activites3{

		display: flex;
		flex-flow: column wrap;
	}

	.activites5, .activites6 {
		display: flex;
		flex-flow: column wrap;
	}




	/* Footer */ 

	.footer {
		display: flex;
		background-color: #F2F2F2;
		height: 200px;
	}

	.apropos_footer {

		margin-left: 2%;
		margin-right: 20%;
		margin-top: 2%;
	}

	.hebergements_footer {	

		margin-right: 20%;
		margin-top: 2%;
	}

	.assistance_footer {	

		margin-top: 2%;
	}


	@media screen and (max-width: 640px) {
		.top_mobile {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px;
			width: 100%;
		}

		#menu {
			display: flex;
			float: none;
			justify-content: space-around;
			margin-top: 0px;	
		}
		.menu1, .menu2 {
			border-bottom: 2px solid transparent;
			border-top: 0px;
		}
		.menu3 {
			margin-right: 2%;
		}

		.menu1 {
			border-top: 0px;
			border-bottom: solid #0065FC 2px;
			color: #0065FC;
		}

		.menu1:hover, .menu2:hover {
			border-top: 0px;
			border-bottom: solid #0065FC 2px;
			color: #0065FC;
		}
		.sous_header {
			margin: 10px;
		}

		h1 {
			margin-top: 20px;
		}

		.titre_filtre {
			display: block;

		}

		.list_bouton {
			display: flex;
			flex-wrap: wrap;

		}
		.center_populaires {
			flex-wrap: wrap-reverse;
		}

		.aside {
			width: 100%;
			margin-left: 0px;
			margin-right: 0px;
			border-radius: 0px;
		}
		.contenant {
			height: 1650px;
			width: 100%;
		}
		.center {
			width: 100%;
			height: 1750px;
			margin-left: 0px;
			margin-right: 0px;
			border-radius: 0px;
			background-color: #FFFFFF;
		}

		.cannebiere1, .cannebiere2, .cannebiere3, .cannebiere4, .cannebiere5, .cannebiere6 {
			width: 100%;
			height: 15%;
		}
		.afficher_plus {
			margin-bottom: 0px;
			margin-top: -20px;
			
		}

		.titre_article {
			margin-left: 20px;
		}

		.img_activites1, .img_activites2, .img_activites3, .img_activites4, .img_activites5, .img_activites6 {
			height: 150px;
		}

		.activites1, .activites2, .activites3, .activites4, .activites5, .activites6 {
			width: 100%;
			margin-bottom: 50px;

		}

		.activites {
			height: 1650px;
			width: 100%;
		}


		.bloc_activites {
			flex-flow: row wrap;
		}

		.footer {
			flex-direction: column;
			height: 350px;
		}

		.hebergements_footer, .assistance_footer {
			margin-left: 2%;
		}

		.search_bar_text {
			padding: 0px;
			display: none;
		}

		.fa-search {
			padding: 12px;
			background-color: #0065FC;
			color: #FFFFFF;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;

		}

		.search {
			margin-top: 10px;
		}

	}


	@media screen and (min-width: 640px) and (max-width: 1024px) {
		.search_bar_text {
			padding: 0px;
			display: none;
		}

		.fa-search {
			padding: 12px;
			background-color: #0065FC;
			color: #FFFFFF;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		.fa-map-marker-alt {
			padding: 9px;
		}

		.titre_populaires {
			margin-top: 0px;
		}

		.cannebiere1, .cannebiere2, .cannebiere3, .cannebiere4, .cannebiere5, .cannebiere6 {
			width: 46%;
			margin-bottom: 20px;

		}
		.img_marseille {

			height: 50%;

		}
		.populaires {
			height: 750px;
		}

		.img_populaires {
			width: 45%;
		}

		.center {
			height: 900px;
			width: ;
		}
		.aside {
			height: 900px;
			width: 35%;	
		}
		.titre_image {
			line-height: 1.1 !important;
		}
		
		.search {
			margin-top: 10px;
		}

		.titre_filtre {
			margin-top: 20px;
		}

		.filtres {
			width: 100%;
			flex-wrap: wrap;
		}

		.afficher_plus {
			margin-top: 190px;
		}

		.bloc_activites {
			flex-direction: row;
			justify-content: space-around;
			font-weight: 0.5em; 

		}

		.activites {
			height: 850px;
		}

		.activites1, .activites2, .activites3, .activites4, .activites5, .activites6 {
			width: 45%;
			height: 90%;
			margin-bottom: 20px;

		}

		.img_activites1, .img_activites2, .img_activites3, .img_activites4, .img_activites5, .img_activites6 {
			height: 200px;
		}

		.titre_activites {
			font-size: 1.1em;
		}





	}
